# exclude any development-specific files
.vscode/
.idea/

# exclude any dependency directories
node_modules/
vendor/
package-lock.json

# exclude build artifacts
build/
dist/
bin/
tmp/

# exclude any development-specific folders or files
config/database/test.json
coverage/
.eslintignore
.prettierignore
*.env
*.log
*.out
*.test
